/* select the body tag */

body {
    margin: 0;
}


/* select all the tags <section> */

section {
    border-bottom: 1px solid black;
    overflow: hidden;
}


/* select all the tags that have
                    class="technologies"
                    or even class="technologies some-other-class" 
                    or even class="some-other-class technologies some-third-class"
            */

.technologies {
    background-color: aliceblue;
}

.schedule {
    background-color: tomato;
    padding-bottom :10px;
}

table th, table td{
    border-width:1px;
    border-color:lightgray;
    border-style:solid;
    padding:10px;
    border-collapse:collapse;
    background-color:white;
}

.curriculum {
    background-color: rgba(0, 255, 0, 0.5);
}


/* select all the UL elements that are anywhere insde a NAV element */

nav ul {
    list-style: none;
    margin-bottom:20px;
}

nav li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin-left: 25px;
    background-color: pink;
}

nav a {
    text-decoration: none;
}

footer{
    background-color:black;
    color: white;
    overflow:hidden;
}

footer a{
    color: tomato;
}

.other{
    width:50%;
    float: left;
}

.partners{
    width:50%;
    float:left;
}

footer li{
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

footer img {
    width:100px;
}
